.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
body {
  background-color: #f8ef42;
  background-image: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
  font-family: 'Raleway', sans-serif;
}
.calc-heading {
  text-align: center;
}
.button {
  margin-left: 24vw;
}
.output {
  background-color: #166d3b;
  background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
  width: 801px;
  margin-left: 24vw;
  height: 40px;
}
p {
  color: yellow;
  text-align: right;
  font-size: 2em;
}
button {
  width: 200px;
  height: 120px;
  background-color: #166d3b;
  background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
  color: white;
  font-size: 1.5em;
}

button:hover {
  background-color: #63a91f;
  background-image: linear-gradient(314deg, #63a91f 0%, #1a512e 74%);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
